target/
.settings/
.springBeans
.classpath
.project
bin/
keys/
.cache
.gradle
.idea
build/
out/
*.ipr
*.iws
*.iml

credentials.yml
myenv
.wercker/

jenkins-cli.jar
jenkins/JENKINS_HOME/*
!jenkins/JENKINS_HOME/jobs
!jenkins/JENKINS_HOME/org.jenkinsci.plugins.configfiles.GlobalConfigFiles.xml
!jenkins/JENKINS_HOME/jenkins.mvn.GlobalMavenConfig.xml
!jenkins/JENKINS_HOME/hudson.plugins.gradle.Gradle.xml
!jenkins/JENKINS_HOME/hudson.tasks.Maven.xml
jenkins/JENKINS_HOME/jobs/*/builds
jenkins/JENKINS_HOME/jobs/*/nextBuildNumber
jenkins/JENKINS_HOME/jobs/*/jobs/*/lastStable
jenkins/JENKINS_HOME/jobs/*/jobs/*/lastSuccessful
jenkins/JENKINS_HOME/jobs/*/jobs/*/modules/
jenkins/JENKINS_HOME/jobs/*/jobs/*/nextBuildNumber
jenkins/JENKINS_HOME/jobs/*/jobs/*/builds/
jenkins/JENKINS_HOME/jobs/*/jobs/*/workspace/
jenkins/JENKINS_HOME/jobs/*/jobs/*/scm-polling.log
jenkins/JENKINS_HOME/jobs/*/jobs/*/workspace*/

# vagrant 
.vagrant 
*console.log 

# Java
cacerts


